body {
    background: #fff url('../img/Background.jpg') no-repeat center fixed;
    background-size: cover;
    color: #fff;
}

body > .container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: .3rem;
}
