body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  background: #fff url('../images/background.jpg') no-repeat center fixed;
  background-size: cover;
  color: #fff;
}

.display-3 {
	font-weight: 600;
	font-size: 3.5rem;
	text-transform: uppercase;
  color: red;
  animation: blinker 1s linear infinite;
  font-family: Consolas, monaco, monospace;
}

.display-2 {
	font-family: Consolas, monaco, monospace;
	font-size: 2rem;
	text-align: right;
  font-family: Consolas, monaco, monospace;
  color: red;
}

.lead {
  font-family: Consolas, monaco, monospace;
	font-size: 1rem;
  color: #D47F7F;
}

.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  color: #fff;
}

body > .container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: .3rem;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (min-width: 48em) {
  .container {
    max-width: 80rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

.jumbotron {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: .05rem solid #e5e5e5;
  margin: .75rem 1.5rem;
}
mark {
  color: white;
  background-color: red;
}

.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

@media screen and (min-width: 48em) {
  .header,
  .marketing,
  .jumbotron {
    border-bottom: 0;
  }
}

img {
    max-height: 8em;
    max-width: 15em;
    display: block;
    margin: 0 auto;
    margin: 0.5rem;
}

.flexbox {
	display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.container-fluid img {
    max-height: 6em;
    display: block;
    margin: 0 auto;
}

.logobox .container {
    justify-content: center;
    align-items: center;
}

.top-buffer {
	margin-top:0.5rem;
}
